body {
    background-color: #8f85a9;

}

.First {
    padding-left: 600px;
    align-content: center;
    color: antiquewhite;
}

.Second {
    padding-left: 400px;
    align-content: center;
    color: antiquewhite;
}